/* 알림 */
.notice__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  text-align: center;
  line-height: 1.5;
}

.notice__table th {
  padding: 20px;
  font-weight: bold;
  color: white;
  background: #00acee;
  border-radius: 10px;
  font-size: 22px;
}

.notice__table td {
  padding: 10px;
  background: whitesmoke;
  border-radius: 10px;
}