@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareRound';
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.8fr 0.3fr;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". header ."
    ". main ."
    "footer footer footer";
}

* { 
  margin: 0px; 
  padding: 0px;
}

a {
  text-decoration: none; 
  color: black;  
  display: inline-block;
  font-size: 1.2em; 
}

.header {
  display: grid;
  grid-template-columns: 0.4fr 1.4fr;
  grid-template-rows: 0.3fr 1.0fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo blank"
    "logo top"
    "logo bottom";
  grid-area: header;
}

.logo { 
  grid-area: logo; 
  display: flex; 
  flex-direction: column; 
  justify-content: center ; 
}

.top { 
  grid-area: top; 
  display: flex; 
  justify-content: space-between ; 
  align-items: flex-end; 
}

.right { 
  height: 60%;
  line-height: 1.5em;
}

.input-group { 
  width: 30%; 
  height: 40%; 
}

.input-group:focus-within { 
  width: 45%; 
  transition: 0.5s;
}

#search:focus {
  outline: none;
  border: none;
  border-right:0px; 
  border-top:0px; 
  border-left:0px; 
  border-bottom:0px;
}

.bottom { 
  grid-area: bottom; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end;
}

nav { 
  width: 100%; 
}

nav > a { 
  font-size: 1em; 
  width: 24%; 
  height: 50%; 
  text-align: center; 
  display: inline-block;
}

a:hover { 
  font-weight: bolder;
}

.main {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 0.1fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    "left right";
  display: flex;
  width: 100%;
  grid-area: main; 
  margin: 2em;
}

.mybox{
  display: flex;
  flex-direction: column;
  font-size: 2em;
  width: 20%;
  height: 100%;
}

.page{
  width: 80%;
  height: 100%;
  padding: 0 10px;
  display: flex; 
  justify-content: space-around ;
}

.small{
      font-size: 0.6em;
}

.small:focus, a:hover{
      color: red;
}

.footer {
  border-top: 1px solid #ccc;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.column__title {
  margin-top: 75px;
  margin-bottom: 50px;
  opacity: 0.5;
}


.footer__column ul {
  text-align: center;
  padding: 0px;
}

.footer__column li {
  margin-bottom: 15px;
  list-style: none;
  cursor: pointer;
}

