@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareRound';
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.8fr 0.3fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    ". header ."
    ". main .";
}

* { 
  margin: 0px; 
  padding: 0px;
}

a {
  text-decoration: none; 
  color: black;  
  display: inline-block;
}

.header {
  display: grid;
  grid-template-columns: 0.4fr 1.4fr;
  grid-template-rows: 0.3fr 1.0fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo blank"
    "logo top"
    "logo bottom";
  grid-area: header;
}

.logo { 
  grid-area: logo; 
  display: flex; 
  flex-direction: column; 
  justify-content: center ; 
}

.top { 
  grid-area: top; 
  display: flex; 
  justify-content: space-between ; 
  align-items: flex-end; 
}

.input-group { 
  width: 30%; 
  height: 40%; 
}

.input-group:focus-within { 
  width: 45%; 
  transition: 0.5s;
}

#search:focus {
  outline: none;
  border: none;
  border-right:0px; 
  border-top:0px; 
  border-left:0px; 
  border-bottom:0px;
}

.bottom { 
  grid-area: bottom; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end;
}

nav { 
  width: 100%; 
}

nav > a { 
  font-size: 1em; 
  width: 24%; 
  height: 50%; 
  text-align: center; 
  display: inline-block;
}

nav > a:hover { 
  font-weight: bolder;
}

.main {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 0.1fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    "left right";
  display: flex;
  width: 100%;
  grid-area: main; 
  margin: 2em;
}

.mybox{
  display: flex;
  border: 2px solid black;
  font-size: 2em;
  width: 60%;
  height: 100%;
}

.mybox__img{ 
  display: flex;
  flex-basis: 40%;
}

.mybox__intro{ 
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mybox__img img{
  margin: 20px;

}

.mybox2{
  border: 2px solid black;
  font-size: 2em;
  margin-left: 100px;
  width: 30%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mybox2 p{
  margin: 16px 0;
}

.box2-btn {
  display: block;
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  background: orange;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0 0 12px;
}

.buy{
  background: white;
  color: black;
}

.box2-btn:hover{
  background: orangered;
}

a:hover{
      color: red;
}