/* 폰트 설정 */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 레이아웃 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NanumSquareRound';
}

ul{
  list-style:none;
  display: flex;
}

li:hover {
  cursor: pointer;
}

a { 
  text-decoration: none;
}

/* 헤더 */
.header {
  background-color: #0C151C;
}

.header li {
  margin-right: 10px;
  font-size: 19px;
}

.header li:hover{
  color: white;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  position: relative;
  color: #B2C0CC;
}

.header__left img {
  max-width: 182px;
  max-height: 34px;
}

.right__menu a {
  color: #B2C0CC;
}

.right__menu a:hover {
  color: white;
}

/* .header__bottom {
  background-color:  black;
} */

.bottom__menu {
  background-color:  white;
  display: flex;
  justify-content: center;
  border-bottom: 0;
  box-shadow: inset 0 -0.0625rem #d7e2eb;
}

.bottom__menu li {
  margin-left: 3rem;
  font-size: 18px;
  padding: 8px 0;
}

.bottom__menu li:hover {
  color: #0078FF;
  border: 0;
  box-shadow: inset 0 -0.1875rem #0078ff;
  background-color: transparent;
}

.list {
  padding: 16px 8px;
  display: flex;
  border-bottom: 0;
  box-shadow: inset 0 -0.0625rem #d7e2eb;
  cursor: pointer;
}

.content {
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 64%;
  max-width: 64%; 
}

.content h4 {
  font-size: 20px;
  line-height: 1.6;
}

.tag-list {
  margin: 0.75rem 0 0 -0.125rem;
}

.tag-list span {
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #263747;
  background-color: #E9ECF3;
}

.status {
  margin: 6px 0 0;
}

.description,
.status span {
  color: #98A8B9;
  font-size: 14px;
  font-weight: 500;
}

.price {
  padding: 24px 0 0 32px;
  color: #0078FF;
  font-size: 16px;
  text-align: right;
}